#Intialize super admin credentials
    SUPER_ADMIN_EMAIL = 
    SUPER_ADMIN_PASSWORD =



    
    # CORS Config
    ALLOWED_ORIGINS = #frontend host ex-["http://localhost:3000"]
   

    COOKIE_DOMAIN = 
    
    ENV =dev/prod
